.cnt {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .cnt-nav {
    padding: 10px;
    background-color: #020420;
    color: #ef6974;
  }
  .cnt-body {
    flex-grow: 1;
  }
  .editor {
    height: 100%;
  }